* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #7d7a7a;*/
  color: #533a1e;
  background: url("/images/mr3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
  min-height: 100svh;
  border: 5px ridge #caa67e;
}

.mainButton {
  background: linear-gradient(#dac1a5, #a9855d);
  cursor: pointer;
  text-align: center;
  user-select: none;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;

  padding: 0.4em;
  border-radius: 0.5em;
  margin: 0.2em;
  min-width: 5rem;

  border: 0.1em solid #4d3a25;
  box-shadow:
    0.2em 0.2em 0.3em #d7c6b3 inset,
    0.1em 0.1em 0.2em #4d3a25;
}

.mainButton:hover {
  box-shadow:
    0.2em 0.2em 0.3em #d7c6b3 inset,
    0 0 0.3rem 0.1rem white;
}

.mainButton:active {
  box-shadow: 0.2em 0.2em 0.3em #d7c6b3 inset;
}

.mainInput {
  border-color: silver;
  margin: 0.1em;
}

#authInputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#authSwitchers {
  display: flex;
  flex-direction: column;
}

#LoginButton {
  position: absolute;
  z-index: 1001;
}

#logoutButton {
  position: absolute;
}

.switcher {
  margin: 0.1em;
  text-decoration: underline;
  cursor: pointer;
}

.tableTitle {
  font-size: 1.5rem;
}

.verticalForm {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

@media only screen and (max-width: 414px) {
  .react-resizable-handle {
    width: 60px !important;
    height: 60px !important;
  }
}
