.topPanel{
  position: relative;
  display: flex;
  justify-content: flex-start;
  height: 2rem;
  padding: .2rem;
  z-index: 1000;
}

.plainMessage{
  border: 2px solid #caa67e;
  background-color: #e3d6c7;
  color: #8e5a1f; 
  text-align: center;
  user-select: none;
  padding: 5px; 
  margin-left: 5px;
  height: 2rem;
  border-bottom-left-radius: 1rem;
}
