.mobLine {
  display: flex;
}

.mobLine:nth-child(2) {
  margin-bottom: 5px;
  border-bottom: 2px ridge #a9855d;
}

.mobCell {
  flex: 1 1 40px;
  min-width: 10px;
  overflow: hidden;
}

.mobCellName {
  flex: 40px;
}

.mobButton {
  flex: 0 0 40px;
}

.deleteMobButton {
  width: 1.3rem;
  height: 1.3rem;
  color: black;
  background-color: transparent;
  text-shadow: 2px 2px 2px white;
  border-bottom-left-radius: 0.3em;
  border: 1px solid #a9855d;
  line-height: 0.5em;
  border-top: none;
  border-right: none;
  cursor: pointer;
  padding: 0.3rem;
}
