.charsheetWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.mainBlock {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sectionsBlock {
  width: 100%;
  flex: 1 1;
  overflow-y: auto;
}

.buttonBlock {
  display: flex;
  flex-direction: row;
}

.bookmarkBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 2px ridge #caa67e;
}

.bookmark {
  user-select: none;
  color: #8e5a1f;
  padding: 0.2rem;
  background: #e3d6c7;
  border: 2px ridge #caa67e;
  border-bottom: none;
  font-size: 0.8rem;
  z-index: 100;
  width: fit-content;
  top: calc(-1.5rem - 2px);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  right: -3px;
  cursor: pointer;
}

.chButton {
  user-select: none;
  color: #8e5a1f;
  padding: 0.2rem;
  background: #a9855d;
  border: 1px solid black;
  font-size: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  color: white;
  box-shadow: 0.2em 0.2em 0.3em #d7c6b3 inset, 0.1em 0.1em 0.2em #4d3a25;
  min-width: 40px;
}

.chButton:active {
  box-shadow: 0.2em 0.2em 0.3em #d7c6b3 inset, 0 0 0.3rem 0.1rem white;
}

.isActive {
  background: #a9855d;
  color: white;
  box-shadow: 0.2em 0.2em 0.3em #d7c6b3 inset;
}

.charSection {
  width: 100%;
}

.statsBlock {
  display: flex;
  flex-wrap: wrap;
}

.savesBlock {
  display: flex;
  flex-wrap: wrap;
}

.oneSaveBlock {
  display: flex;
}

.savePart {
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.skillsBlock {
  display: flex;
  flex-wrap: wrap;
}

.oneSkillBlock {
  display: flex;
}

.skillPart {
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.oneUnitedBlock {
  display: flex;
  text-align: left;
  border-bottom: 1px solid #a9855d;
  position: relative;
  width: 100%;
}

.oneUnitedBlockSummaryBox {
  display: flex;
}

.unitedBlockName {
  display: inline-block;
  font-weight: bold;
  margin-right: 3px;
  width: fit-content;
}

.unitedBlockSummaryText {
  display: inline-block;
}

.unitedBlockDescr {
  display: block;
  width: fit-content;
}

.oneUnitedBlock summary {
  display: block;
  cursor: pointer;
}

.addUnitedBlockPart {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.deleteUnitedBlockButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.3rem;
  height: 1.3rem;
  color: black;
  background-color: transparent;
  text-shadow: 2px 2px 2px white;
  border-bottom-left-radius: 0.3em;
  border: 1px solid #a9855d;
  line-height: 0.5em;
  border-top: none;
  border-right: none;
  cursor: pointer;
  padding: 0.3rem;
}

.mobileBreak {
  display: none;
}

.paramLine {
  margin: 1px;
  display: flex;
  flex: 0 1;
  text-align: center;
}

.paramLineUnitedBlock {
  position: relative;
  margin: 1px;
  display: flex;
  flex: 0 1;
  text-align: center;
}

.paramTitle {
  margin-left: 3px;
  margin-right: 5px;
  overflow-wrap: break-word;
  max-width: 60%;
}

.paramTitleSkill {
  margin-left: 3px;
  margin-right: 5px;
  min-width: 90px;
}

.paramInput {
  width: 100%;
  flex: 1 1;
  min-width: 3rem;
}

.paramInputResult {
  background: lightskyblue;
  text-align: center;
}

.paramInputReadonly {
  background: lightgray;
  text-align: center;
}

@media only screen and (max-width: 414px) {
  .bookmarkBlock {
    flex-direction: column;
    order: 2;
    border-bottom: none;
    border-left: 2px ridge #caa67e;
  }

  .bookmark {
    writing-mode: vertical-lr;
    border-top-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
    box-shadow: -0.2em 0 0.3em #d7c6b3 inset;
    border-bottom: 2px ridge #caa67e;
    border-left: none;
  }

  .mainBlock {
    flex-direction: row;
  }

  .sectionsBlock {
    order: 1;
  }
}

@media (max-width: 768px) {
  .mobileBreak {
    display: block;
  }
}
