.diceWrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.diceSet{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid orange;
}

.dice{
  display: block;
  border-radius: 3px;
  margin: 2px;
  padding: 2px;
  text-shadow: 1px 1px 1px white;
}

.switcherOn{
  color: yellow;
  box-shadow: 0 0 .5em yellow inset,.1em .1em .2em #4d3a25;
  background: linear-gradient(rgb(247, 247, 101) 0%, #8e5a1f 50%, rgb(247, 247, 101) 100%);
  text-shadow: 1px 1px 1px #0d240a, 1px 0 1px #0d240a;
  border: 1px solid #8e5a1f;
}

.switcherOff{
  background: radial-gradient(circle at 20% 20%, lightgray 0%, gray 100%);
  border: 1px solid rgb(51, 51, 51);
}

.rollVariations{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

.logs{
  flex-grow: 1;
  border-bottom: 3px ridge #caa67e;
  border-top: 3px ridge #caa67e;  
}

.diceFooter{
  display: flex;
  flex-direction: row;  
}

.rollButton{
  width: 3rem;
  height: 3rem;
  margin: 5px;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%, rgb(117, 191, 251), #71d5ff 10%, #523d60 80%, #40354d 100%);
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  text-align: center;
  line-height: 3rem;
  box-shadow: .1em .1em .2em rgb(14, 0, 136);  
  border: none;
}
.rollButton::before{
  content: "";
  position: absolute;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  filter: blur(5px);
  z-index: 2;
}
.rollButton:active{
  top: 1px;
  left: 1px;
  box-shadow: 1px 1px 1px rgb(14, 0, 136); 
}