.baseTable{
  position: absolute;
  border: 5px ridge #caa67e;
  padding: .5em;
  border-radius: .5em;
  background-color: #e3d6c7; 
  width: fit-content;
  box-shadow: .2em .2em .1em #444;
  margin-left: .2em;
  margin-top: .2em;
  padding-top: 1.4rem;
  margin-right: auto;
  margin-left: auto;
  z-index: 10002;
}

.closeButton{
  position: absolute;
  right: 0;
  top: 0;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #caa67e;
  color: black;
  background-color: transparent;
  text-shadow: 2px 2px 2px white;
  border-bottom-left-radius: .3em;
  border: 1px solid #a9855d;
  line-height: .5em;
  border-top: none;
  border-right: none;
  cursor: pointer;
}

.actionFail{
  color: #F44336;
  font-style: normal;
  font-size: .8rem;
  font-family: arial;
}

.actionSuccess{
  color: #4CAF50;
  font-style: normal;
  font-size: .8rem;
  font-family: arial;
}
